<div class="uk-text-bold uk-text-emphasis"> {{ _x('Posts loading...', 'Blog filters', 'base-theme') }}</div>
<ul class="demo-archive-posts demo-filters-container demo-products uk-child-width-1-1 uk-grid uk-grid-small" uk-grid="masonry: true">
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
</ul>