{% extends "base.twig" %}

{% block styles %}
  {{ parent() }}
{% endblock %}

{% block main %}
  <div data-template="archive.twig">

    {# the archive header #}
    {% block archive_header %}
      {% include 'archive_header.twig' %}
    {% endblock %}

    {# the archive content #}
    {% block archive_content %}
      <div class="uk-section uk-container uk-container-xsmall">

        {# the archive filters: for blog #}
        {% block blog_filters %}
          {% if configs.blog_filters %}
            {% include 'filters_main.twig' %}
          {% endif %}
        {% endblock %}

        {# the archive loop: posts (contains archive_footer) #}
        {% block archive_loop %}
          {% include 'loop.twig' %}
        {% endblock %}
        
      </div>
    {% endblock %}

  </div>
{% endblock %}

{% block scripts %}

  {{ parent() }}

  {# infinite pagination activation #}
  {% if configs.infinite_pagination %}
    <script type='text/javascript'>
      // check if pagination element exists first, then do the inf pagination function with the pagination vars
      if(document.getElementById('themePagination')){
        window.addEventListener('load', (event) => {
          archivePagination('.archive-posts', '.item', '.next', '.page-load-status', '.pagination', false, true);
        });
      }
    </script>
  {% endif %}

  {# scripts for the blog filters: modular #}
  {% if configs.blog_filters and configs.blog_filters_properties.types %}
    {% include 'filters_scripts.twig' %}
  {% endif %}

{% endblock %}
