{% if post.post_type == 'post' and (configs.enable_post_sharing or configs.enable_post_author or configs.enable_post_paging or (fn('comments_open') and configs.enable_post_comments and ((post.comments|length > 0) or fn('is_user_logged_in')))) %}
  <footer class="single-footer uk-container uk-container-xsmall uk-section uk-padding-remove-top">
    <ul class="uk-child-width-1-1 uk-grid-divider" uk-grid>

      {# single post sharing #}
      {% block single_share %}
        {% if configs.enable_post_sharing %}
          <li class="single-share uk-flex uk-flex-left uk-flex-right@m uk-flex-middle">
            {% include 'single_parts/_share.twig' %}
          </li>
        {% endif %}
      {% endblock %}

      {# single post author info #}
      {% block single_author %}
        {% if configs.enable_post_author %}
          <li class="single-author">
            {% include 'single_parts/_author.twig' %}
          </li>
        {% endif %}
      {% endblock %}

      {# single post paging #}
      {% block single_pagination %}
        {% if configs.enable_post_paging and (post.next or post.prev) %}
          <li class="single-pagination">
            {% include 'single_parts/_pagination.twig' %}
          </li>
        {% endif %}
      {% endblock %}
    
      {# single post comments #}
      {% block single_comments %}
        {% if fn('comments_open') and configs.enable_post_comments and ((post.comments|length > 0) or fn('is_user_logged_in')) %}
          <li class="single-comments">
            {% include 'single_parts/comments/list.twig' %}
          </li>
        {% endif %}
      {% endblock %}
    
    </ul>
  </footer>
{% endif %}