<header class="single-header">

  <div class="uk-section uk-background-cover uk-position-relative uk-light" style="background-image: url({{ (post.thumbnail) ? post.thumbnail.src|resize(1920, 450, 'center')|e('esc_url') : 'https://customdriveways.ie/wp-content/themes/customdriveways/assets/images/landscape.jpg' }})">

    {# overlay #}
    <div class="uk-overlay-primary uk-position-cover"></div>

    {# content #}
    <div class="uk-container uk-text-center uk-position-relative uk-position-z-index">
      <div uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
        <div>
          <h1 class="uk-article-title">{{ post.title|e('esc_html') }}</h1>
          {# the meta info #}
          {# {% block single_metas %}
            {% if (post.author or post.date or post.categories) and (post.post_type == 'post') %}
              {% include 'single_parts/_meta.twig' %}
            {% endif %}
          {% endblock %} #}
        </div>
      </div>
    </div>

  </div>

  {% block breads %}
    {% if fn('yoast_breadcrumb_enabled') and not fn('is_front_page') %}
      {% include '_breads.twig' %}
    {% endif %}
  {% endblock %}

</header>