<header class="single-header">

  {# singluar title & meta information about the post #}
  {% block single_title_metas %}
    <div class="single-title-meta uk-section uk-section-muted uk-section-small uk-padding-remove-top">
      <div class="uk-container uk-container-xsmall uk-margin-small-top uk-text-left uk-text-center@s">

        {# title #}
        <h1 class="uk-article-title">{{ post.title|e('esc_html') }}</h1>

        {# the meta info #}
        {% block single_metas %}
          {% if (post.author or post.date or post.categories) and (post.post_type == 'post') %}
            {% include 'single_parts/_meta.twig' %}
          {% endif %}
        {% endblock %}

      </div>
    </div>
  {% endblock %}

  {# singular featured image (wide) #}
  {% block single_thumb %}
    {% if post.thumbnail %}
      {% include 'single_parts/_thumb.twig' %}
    {% endif %}
  {% endblock %}

  {# the breadcrumbs. a global part #}
  {% block breads %}
    {% if fn('yoast_breadcrumb_enabled') and not fn('is_front_page') %}
      {% include '_breads.twig' %}
    {% endif %}
  {% endblock %}

</header>