{# site header #}
<header class="uk-section-secondary uk-padding-small uk-padding-remove-horizontal" uk-sticky="cls-active: uk-box-shadow-medium; top: 100vh; animation: uk-animation-slide-top; cls-inactive: inactive-sticky-nav">
	<div class="uk-container uk-container-expand">
		<nav class="uk-navbar uk-navbar-container uk-navbar-transparent" uk-navbar>

			{# logo #}
			<div class="uk-navbar-left">
				<div class="uk-navbar-item uk-padding-remove-horizontal">
					<a class="uk-logo" title="Logo" href="/">
						<img class="uk-width-small uk-width-medium@m" src="{{theme.link}}/assets/img/logo/dark/matte_white.png">
					</a>
				</div>
			</div>

			{# menu #}
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav uk-visible@s">
					<!-- <li class="uk-active uk-visible@m"><a href="" uk-icon="home"></a></li> -->
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="#" uk-icon="icon: chevron-down; ratio: .8">Services</a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="/pattern-imprinted-concrete-driveways">Driveways</a></li>
								<li><a href="/pattern-imprinted-concrete-patios">Patios</a></li>
								<li><a href="/pattern-imprinted-concrete-pathways">Pathways</a></li>
								<li><a href="/pattern-imprinted-concrete-steps-kerbs">Steps & Kerbs</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="#" uk-icon="icon: chevron-down; ratio: .8">Custom Design</a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="/coloured-concrete">Colours</a></li>
								<li><a href="/stamped-concrete-patterns">Patterns</a></li>
								<li><a href="/features">Pattern Imprinted Concrete Features</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="#" uk-icon="icon: chevron-down; ratio: .8">Quality Committment</a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="/concrete-contractor-credentials">Contractor Credentials</a></li>
								<li><a href="/product-quality">Product Quality</a></li>
								<li><a href="/process-quality">Process Quality</a></li>
								<li><a href="/our-process">Steps in our Process</a></li>
								<li><a href="/concrete-sealer-tips">Aftercare Tips</a></li>
								<li><a href="/testimonials">Testimonials</a></li>
								<li><a href="/faqs">FAQs</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="/gallery" uk-icon="icon: chevron-down; ratio: .8">Galleries</a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="/gallery-driveways">Driveways</a></li>
								<li><a href="/gallery-pathways">Pathways</a></li>
								<li><a href="/gallery-patios">Patios</a></li>
								<li><a href="/patterns-gallery">Patterns</a></li>
								<li><a href="/gallery-special-features">Special Features</a></li>
								<li><a href="/gallery-steps-kerbs">Steps & Kerbs</a></li>
							</ul>
						</div>
					</li>
					<li><a href="/contact-us">Contact Us</a></li>
				</ul>
				<a class="uk-navbar-toggle uk-navbar-item uk-hidden@s" uk-toggle uk-navbar-toggle-icon href="#offcanvas-nav"></a>
			</div>

		</nav>
	</div>
</header>

{# offcanvas #}
<div id="offcanvas-nav" uk-offcanvas="flip: false; overlay: true">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide uk-light">
		<button class="uk-offcanvas-close uk-close uk-icon" type="button" uk-close></button>
		<a class="uk-logo uk-margin-bottom" title="Logo" href="/">
			<img class="uk-width-small uk-width-medium@m" src="{{theme.link}}/assets/img/logo/dark/matte_white.png">
		</a>
		<ul class="uk-nav uk-nav-default" uk-nav="multiple: true">

			<li>
				<a href="/">Home</a>
			</li>

			<li class="uk-parent">
				<a href="#">Services <span uk-nav-parent-icon></span></a>
				<ul class="uk-nav-sub">
					<li><a href="/pattern-imprinted-concrete-driveways">Driveways</a></li>
					<li><a href="/pattern-imprinted-concrete-patios">Patios</a></li>
					<li><a href="/pattern-imprinted-concrete-pathways">Pathways</a></li>
					<li><a href="/pattern-imprinted-concrete-steps-kerbs">Steps & Kerbs</a></li>
				</ul>
			</li>

			<li class="uk-parent">
				<a href="#">Custom Design <span uk-nav-parent-icon></span></a>
				<ul class="uk-nav-sub">
					<li><a href="/coloured-concrete">Colours</a></li>
					<li><a href="/stamped-concrete-patterns">Patterns</a></li>
					<li><a href="/features">Pattern Imprinted Concrete Features</a></li>
				</ul>
			</li>

			<li class="uk-parent">
				<a href="#">Quality Committment <span uk-nav-parent-icon></span></a>
				<ul class="uk-nav-sub">
					<li><a href="/concrete-contractor-credentials">Contractor Credentials</a></li>
					<li><a href="/product-quality">Product Quality</a></li>
					<li><a href="/process-quality">Process Quality</a></li>
					<li><a href="/our-process">Steps in our Process</a></li>
					<li><a href="/concrete-sealer-tips">Aftercare Tips</a></li>
					<li><a href="/testimonials">Testimonials</a></li>
					<li><a href="/faqs">FAQs</a></li>
				</ul>
			</li>

			<li class="uk-parent">
				<a href="/gallery">Gallery <span uk-nav-parent-icon></span></a>
				<ul class="uk-nav-sub">
					<li><a href="/gallery-driveways">Driveways</a></li>
					<li><a href="/gallery-pathways">Pathways</a></li>
					<li><a href="/gallery-patios">Patios</a></li>
					<li><a href="/patterns-gallery">Patterns</a></li>
					<li><a href="/gallery-special-features">Special Features</a></li>
					<li><a href="/gallery-steps-kerbs">Steps & Kerbs</a></li>
				</ul>
			</li>

			<li>
				<a href="/contact-us">Contact Us</a>
			</li>
			
			{# <li class="uk-nav-header">Header</li>
			<li><a href="#js-options"><span class="uk-margin-small-right uk-icon" uk-icon="icon: table"></span> Item</a></li>
			<li><a href="#"><span class="uk-margin-small-right uk-icon" uk-icon="icon: thumbnails"></span> Item</a></li>
			<li class="uk-nav-divider"></li>
			<li><a href="#"><span class="uk-margin-small-right uk-icon" uk-icon="icon: trash"></span> Item</a></li> #}

		</ul>

		<h4>About Custom Driveways</h4>
		<p class="uk-text-small">Custom Driveways are the one of the best concrete contractors in Ireland. Our Imprinted Concrete gives Driveways, Patios, Pathways &amp; Steps/Kerbs a new lease of life &amp; is much easier to maintain than other materials.</p>

	</div>
</div>