<header class="archive-header">

  {# the archive header main #}
  {% block archive_title_desc %}
    <div class="uk-section uk-section-muted uk-section-small uk-padding-remove-top">
      <div class="uk-container uk-container-xsmall uk-margin-small-top uk-text-left uk-text-center@s">

        {# the archive title #}
        <h1>{{ archive.title|e('esc_html') }}</h1>

        {# the archive description #}
        {% block archive_desc %}
          {% if archive.description %}
            <div class="uk-flex uk-flex-left uk-flex-center@s">
              <p class="excerpt uk-text-muted uk-margin-remove uk-width-4-5">{{ archive.description|e('wp_kses_post') }}</p>
            </div>
          {% endif %}
        {% endblock %}

      </div>
    </div>
  {% endblock %}

  {# the archive breads #}
  {% block breads %}
    {% if fn('yoast_breadcrumb_enabled') and not fn('is_front_page') %}
      {% include 'breads.twig' %}
    {% endif %}
  {% endblock %}

</header>