{# the archive filters markup #}
<section class="shop-filters uk-margin-medium-bottom">
  {% include 'filters_form.twig' %}
</section>

{# the archive filters loading posts #}
{% block loader_grid %}
  <div id="DemoPostsGrid" class="uk-hidden uk-margin-medium-top">
    {% include 'filters_loading_posts.twig' %}
  </div>
{% endblock %}