<div class="uk-background-muted uk-padding-small">
  <ul class="uk-flex uk-flex-middle uk-flex-center uk-child-width-auto uk-grid-small" uk-grid>

    {# submit form #}
    <li class="live-search-form-submit">
      <input type="submit" value="Apply" class="uk-button uk-button-primary uk-border-rounded">
    </li>

    {# reset form: the input id is required #}
    <li class="live-search-form-reset">
      <input type="reset" value="Clear" class="uk-button uk-button-default uk-border-rounded">
    </li>

  </ul>
</div>